<a href="https://colab.research.google.com/github/yangjaehoon/StandardCplusplus/blob/master/pandas_handson_1_descriptive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd "/content/gdrive/MyDrive/AI-Thinking-Data"

Mounted at /content/gdrive
/content/gdrive/.shortcut-targets-by-id/1EH1SqwJ8QqFAhAXhp4Xs80aQOOfssre8/AI-Thinking-Data

In [2]:
import pandas as pd

read_csv() 함수로 데이터프레임 df 생성하고, 데이터프레임 df 열 이름을 지정

In [3]:
df = pd.read_csv('./auto-mpg.csv', header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

데이터프레임 df의 첫 5개 행 확인

In [14]:
df.loc[[0,1,2,3,4]]
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

데이터프레임 df의 마지막 5개 행 확인

In [17]:
df.tail(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

데이터프레임 df의 모양과 크기 확인: (행의 개수, 열의 개수)를 투플로 반환

In [22]:
print(df.shape)
df.size

(398, 9)

3582

데이터프레임 df의 정보 확인

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

데이터프레임 df의 자료형 확인

In [24]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

컬럼 mpg 의 자료형 확인

In [29]:
df['mpg'].dtype

dtype('float64')

데이터프레임 df의 기술통계 정보 확인

In [30]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

데이터프레임 df의 각 열이 가지고 있는 원소 개수 확인

In [35]:
df.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

df.count()가 반환하는 객체 타입 출력

In [36]:
df.count().dtype

dtype('int64')

value_counts() 메소드가 반환하는 객체 타입 출력

In [37]:
df.value_counts().dtype

dtype('int64')

"mpg", "weight" 컬럼의 평균값 출력

In [47]:
print(df["mpg"].mean())
print(df["weight"].mean())

23.514572864321615
2970.424623115578

"mpg", "weight" 컬럼의 최대값 출력

In [51]:
print(df["mpg"].max())
print(df["weight"].max())

46.6
5140.0

"mpg", "weight" 컬럼의 최소값 출력

In [50]:
print(df["mpg"].min())
print(df["weight"].min())

9.0
1613.0

"mpg", "weight" 컬럼의 표준편차 출력

In [52]:
print(df["mpg"].std())
print(df["weight"].std())

7.815984312565782
846.8417741973271